<!-- SEARCH BAR -->
<div class="col-md-6">
  <div class="header-search">
    <form id='search'>
      <input name='search' class="input" id='search-input'>
      <button class="search-btn" id='search-button'>{{ text_search }}</button>
    </form>
  </div>
</div>
<!-- /SEARCH BAR -->